In [1]:
import pandas as pd
import os
import datetime

In [2]:
# define the path to the downloaded data
PATH = 'detailed_data'

In [3]:
# read in the data
df = pd.read_csv('2017Q2-capitalbikeshare-tripdata.csv')

#for csv in os.listdir(path=PATH):
#    df = pd.read_csv(f'{PATH}/{csv}')
#    df_2017 = pd.concat([df_2017, df], sort=True)

In [4]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,381,2017-04-01 00:00:22,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member
1,590,2017-04-01 00:02:02,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member
2,2938,2017-04-01 00:02:32,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual
3,380,2017-04-01 00:03:02,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member
4,423,2017-04-01 00:03:38,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member

In [5]:
# you can convert the Duration to a timedelta object
df.Duration = pd.to_timedelta(df.Duration, unit='s')

In [6]:
# you can convert the Start date to a datetime object
df['Start date'] = pd.to_datetime(df['Start date'])

In [7]:
# set the Start date as index
df.set_index('Start date', inplace=True)

In [8]:
df.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=1104418)

In [9]:
df.head()

,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
Start date,,,,,,,,
2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member
2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member
2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual
2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member
2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member

In [10]:
# use floor or round
df.index.floor(freq='H')

DatetimeIndex(['2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               ...
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=1104418, freq=None)

In [11]:
df

,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
Start date,,,,,,,,
2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member
2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member
2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual
2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member
2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member
...,...,...,...,...,...,...,...,...
2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual
2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual
2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member
2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member
2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member

# Read in the Weatherdata

In [12]:
import requests
#from DARK_SKY_SECRET_KEY import DARK_SKY_SECRET_KEY
from datetime import datetime

In [13]:
requests.get

In [14]:
date_range = pd.date_range('2017/4/1', '2013/6/30', freq='D').tz_localize('US/Eastern')
date_range

DatetimeIndex([], dtype='datetime64[ns, US/Eastern]', freq='D')

In [15]:
#date_range = pd.date_range('2017/4/1', '2017/6/30', freq='D').tz_localize('US/Eastern')
#weather = pd.DataFrame()
#for date in date_range:
 #   result = requests.get(f'https://api.darksky.net/forecast/8573e2b1efaaf449cf1c97d49080c952/38.907,-77.0417,{int(date.timestamp())}?units=ca')
 #     result_json = result.json()
 #   df_weather = pd.DataFrame(columns=['time', 'temperature', 'atemperatue', 'humidity', 'windSpeed'])
  #  for entry in result_json['hourly']['data']:
   #     df_weather.loc[len(df_weather)] = [pd.to_datetime(entry['time'], unit='s').tz_localize('uct').tz_convert('US/Eastern'), entry['temperature'], entry['apparentTemperature'], entry['humidity'], entry['windSpeed']]
   # weather = pd.concat([weather, df_weather], sort=True)

In [16]:
#date_range

In [17]:
#weather

In [18]:
#weather.to_csv('weatherwashington.csv', index=False)

In [19]:
df_weather = pd.read_csv('weatherwashington.csv')

In [20]:
df_weather

      atemperatue  humidity  temperature                       time  windSpeed
0            7.76      0.90         7.76  2017-04-01 00:00:00-04:00       0.81
1            7.63      0.90         7.63  2017-04-01 01:00:00-04:00       0.65
2            7.32      0.92         7.32  2017-04-01 02:00:00-04:00       0.73
3            7.53      0.92         7.53  2017-04-01 03:00:00-04:00       0.64
4            7.82      0.91         7.82  2017-04-01 04:00:00-04:00       1.22
...           ...       ...          ...                        ...        ...
2179        32.68      0.56        30.33  2017-06-30 19:00:00-04:00       6.75
2180        31.84      0.60        29.50  2017-06-30 20:00:00-04:00       4.70
2181        30.87      0.61        28.79  2017-06-30 21:00:00-04:00       5.50
2182        29.69      0.65        27.77  2017-06-30 22:00:00-04:00       2.15
2183        28.66      0.67        27.05  2017-06-30 23:00:00-04:00       2.00

[2184 rows x 5 columns]

In [21]:
df_weather.rename(columns = {'time':'datetime'}, inplace = True)
#df_weather2 = df_weather['time'].dt.tz_localize(None)

In [22]:
df_weather

      atemperatue  humidity  temperature                   datetime  windSpeed
0            7.76      0.90         7.76  2017-04-01 00:00:00-04:00       0.81
1            7.63      0.90         7.63  2017-04-01 01:00:00-04:00       0.65
2            7.32      0.92         7.32  2017-04-01 02:00:00-04:00       0.73
3            7.53      0.92         7.53  2017-04-01 03:00:00-04:00       0.64
4            7.82      0.91         7.82  2017-04-01 04:00:00-04:00       1.22
...           ...       ...          ...                        ...        ...
2179        32.68      0.56        30.33  2017-06-30 19:00:00-04:00       6.75
2180        31.84      0.60        29.50  2017-06-30 20:00:00-04:00       4.70
2181        30.87      0.61        28.79  2017-06-30 21:00:00-04:00       5.50
2182        29.69      0.65        27.77  2017-06-30 22:00:00-04:00       2.15
2183        28.66      0.67        27.05  2017-06-30 23:00:00-04:00       2.00

[2184 rows x 5 columns]

In [23]:
df_weather2 = df_weather.set_index('datetime')
#df_weather2 = df_weather['datetime'].dt.tz_localize(None)

In [24]:
df_weather2

                           atemperatue  humidity  temperature  windSpeed
datetime
2017-04-01 00:00:00-04:00         7.76      0.90         7.76       0.81
2017-04-01 01:00:00-04:00         7.63      0.90         7.63       0.65
2017-04-01 02:00:00-04:00         7.32      0.92         7.32       0.73
2017-04-01 03:00:00-04:00         7.53      0.92         7.53       0.64
2017-04-01 04:00:00-04:00         7.82      0.91         7.82       1.22
...                                ...       ...          ...        ...
2017-06-30 19:00:00-04:00        32.68      0.56        30.33       6.75
2017-06-30 20:00:00-04:00        31.84      0.60        29.50       4.70
2017-06-30 21:00:00-04:00        30.87      0.61        28.79       5.50
2017-06-30 22:00:00-04:00        29.69      0.65        27.77       2.15
2017-06-30 23:00:00-04:00        28.66      0.67        27.05       2.00

[2184 rows x 4 columns]

In [25]:
df_weather['datetimelocal'] = df_weather.datetime.str[0:19]

In [26]:
df_weather

,atemperatue,humidity,temperature,datetime,windSpeed,datetimelocal
0,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00
1,7.63,0.90,7.63,2017-04-01 01:00:00-04:00,0.65,2017-04-01 01:00:00
2,7.32,0.92,7.32,2017-04-01 02:00:00-04:00,0.73,2017-04-01 02:00:00
3,7.53,0.92,7.53,2017-04-01 03:00:00-04:00,0.64,2017-04-01 03:00:00
4,7.82,0.91,7.82,2017-04-01 04:00:00-04:00,1.22,2017-04-01 04:00:00
...,...,...,...,...,...,...
2179,32.68,0.56,30.33,2017-06-30 19:00:00-04:00,6.75,2017-06-30 19:00:00
2180,31.84,0.60,29.50,2017-06-30 20:00:00-04:00,4.70,2017-06-30 20:00:00
2181,30.87,0.61,28.79,2017-06-30 21:00:00-04:00,5.50,2017-06-30 21:00:00
2182,29.69,0.65,27.77,2017-06-30 22:00:00-04:00,2.15,2017-06-30 22:00:00
2183,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00

In [27]:
df_weather3 = df_weather #.set_index('datetimelocal')

In [28]:
df_weather3

,atemperatue,humidity,temperature,datetime,windSpeed,datetimelocal
0,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00
1,7.63,0.90,7.63,2017-04-01 01:00:00-04:00,0.65,2017-04-01 01:00:00
2,7.32,0.92,7.32,2017-04-01 02:00:00-04:00,0.73,2017-04-01 02:00:00
3,7.53,0.92,7.53,2017-04-01 03:00:00-04:00,0.64,2017-04-01 03:00:00
4,7.82,0.91,7.82,2017-04-01 04:00:00-04:00,1.22,2017-04-01 04:00:00
...,...,...,...,...,...,...
2179,32.68,0.56,30.33,2017-06-30 19:00:00-04:00,6.75,2017-06-30 19:00:00
2180,31.84,0.60,29.50,2017-06-30 20:00:00-04:00,4.70,2017-06-30 20:00:00
2181,30.87,0.61,28.79,2017-06-30 21:00:00-04:00,5.50,2017-06-30 21:00:00
2182,29.69,0.65,27.77,2017-06-30 22:00:00-04:00,2.15,2017-06-30 22:00:00
2183,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00

In [41]:
dfnew=df.reset_index()

In [42]:
dfnew

,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member
1,2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member
2,2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual
3,2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member
4,2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member
...,...,...,...,...,...,...,...,...,...
1104413,2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual
1104414,2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual
1104415,2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member
1104416,2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member
1104417,2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member

In [43]:
dfnew['datetime'] = dfnew['Start date'].dt.floor('H')

In [44]:
dfnew

,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type,datetime
0,2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member,2017-04-01 00:00:00
1,2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member,2017-04-01 00:00:00
2,2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual,2017-04-01 00:00:00
3,2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member,2017-04-01 00:00:00
4,2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member,2017-04-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1104413,2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual,2017-06-30 23:00:00
1104414,2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual,2017-06-30 23:00:00
1104415,2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member,2017-06-30 23:00:00
1104416,2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member,2017-06-30 23:00:00
1104417,2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member,2017-06-30 23:00:00

In [47]:
#total_rows['ColumnID'] = total_rows['ColumnID'].astype(str)
dfnew['datetimelocal'] = dfnew['datetime'].astype(str)
dfnew

,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type,datetime,datetimelocal
0,2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member,2017-04-01 00:00:00,2017-04-01 00:00:00
1,2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member,2017-04-01 00:00:00,2017-04-01 00:00:00
2,2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual,2017-04-01 00:00:00,2017-04-01 00:00:00
3,2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member,2017-04-01 00:00:00,2017-04-01 00:00:00
4,2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member,2017-04-01 00:00:00,2017-04-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1104413,2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual,2017-06-30 23:00:00,2017-06-30 23:00:00
1104414,2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual,2017-06-30 23:00:00,2017-06-30 23:00:00
1104415,2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member,2017-06-30 23:00:00,2017-06-30 23:00:00
1104416,2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member,2017-06-30 23:00:00,2017-06-30 23:00:00
1104417,2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member,2017-06-30 23:00:00,2017-06-30 23:00:00

In [48]:
dfnew2 = dfnew.set_index('datetimelocal')

In [49]:
dfnew2

,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type,datetime
datetimelocal,,,,,,,,,,
2017-04-01 00:00:00,2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member,2017-04-01 00:00:00
2017-04-01 00:00:00,2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member,2017-04-01 00:00:00
2017-04-01 00:00:00,2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual,2017-04-01 00:00:00
2017-04-01 00:00:00,2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member,2017-04-01 00:00:00
2017-04-01 00:00:00,2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member,2017-04-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:00:00,2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual,2017-06-30 23:00:00
2017-06-30 23:00:00,2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual,2017-06-30 23:00:00
2017-06-30 23:00:00,2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member,2017-06-30 23:00:00
2017-06-30 23:00:00,2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member,2017-06-30 23:00:00
2017-06-30 23:00:00,2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member,2017-06-30 23:00:00

In [50]:
result=df_weather3.merge(dfnew2, on='datetimelocal')

In [ ]:
#result = pd.concat([dfnew2, df_weather3], join='inner')

In [51]:
result

,atemperatue,humidity,temperature,datetime_x,windSpeed,datetimelocal,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type,datetime_y
0,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00,2017-04-01 00:00:22,00:06:21,2017-04-01 00:06:43,31238,14th & G St NW,31202,14th & R St NW,W22257,Member,2017-04-01 00:00:00
1,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00,2017-04-01 00:02:02,00:09:50,2017-04-01 00:11:53,31109,7th & T St NW,31278,18th & R St NW,W20006,Member,2017-04-01 00:00:00
2,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00,2017-04-01 00:02:32,00:48:58,2017-04-01 00:51:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31238,14th & G St NW,W22225,Casual,2017-04-01 00:00:00
3,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00,2017-04-01 00:03:02,00:06:20,2017-04-01 00:09:23,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20146,Member,2017-04-01 00:00:00
4,7.76,0.90,7.76,2017-04-01 00:00:00-04:00,0.81,2017-04-01 00:00:00,2017-04-01 00:03:38,00:07:03,2017-04-01 00:10:41,31023,Fairfax Dr & Wilson Blvd,31034,N Randolph St & Fairfax Dr,W00316,Member,2017-04-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104413,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00,2017-06-30 23:58:48,00:18:55,2017-07-01 00:17:43,31221,18th & M St NW,31645,6th & K St NE,W20131,Casual,2017-06-30 23:00:00
1104414,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00,2017-06-30 23:58:54,00:48:24,2017-07-01 00:47:18,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,W22299,Casual,2017-06-30 23:00:00
1104415,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00,2017-06-30 23:58:55,00:18:46,2017-07-01 00:17:42,31221,18th & M St NW,31645,6th & K St NE,W23406,Member,2017-06-30 23:00:00
1104416,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00,2017-06-30 23:59:01,00:09:09,2017-07-01 00:08:11,31518,New York Ave & Hecht Ave NE,31510,18th St & Rhode Island Ave NE,W21666,Member,2017-06-30 23:00:00
1104417,28.66,0.67,27.05,2017-06-30 23:00:00-04:00,2.00,2017-06-30 23:00:00,2017-06-30 23:59:52,00:18:06,2017-07-01 00:17:58,31603,1st & M St NE,31516,Rhode Island Ave Metro,W23050,Member,2017-06-30 23:00:00

In [52]:
import requests
url = 'https://gbfs.capitalbikeshare.com/gbfs/en/station_information.json'
response = requests.get(url)
stations = pd.DataFrame(response.json()['data']['stations'])

In [53]:
stations

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"[CREDITCARD, KEY]",15,False,False,True
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"[CREDITCARD, KEY]",11,False,False,True
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"[CREDITCARD, KEY]",17,False,False,True
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"[CREDITCARD, KEY]",11,False,False,True
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"[CREDITCARD, KEY]",11,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"[CREDITCARD, KEY]",19,False,False,True
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"[CREDITCARD, KEY]",19,False,False,True
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"[CREDITCARD, KEY]",19,False,False,True
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"[CREDITCARD, KEY]",19,False,False,True
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"[CREDITCARD, KEY]",17,False,False,True