In [1]:
import pandas as pd
import os
import datetime
import requests
from datetime import datetime

In [2]:
result_Q1 = pd.read_csv('result_Q1.csv')

In [3]:
result_Q2 = pd.read_csv('result_Q2.csv')

In [4]:
result_Q3 = pd.read_csv('result_Q3.csv')

In [5]:
result_Q4 = pd.read_csv('result_Q4.csv')

In [6]:
stations = pd.read_csv('stations.csv')

In [7]:
resultQ1_B = result_Q1.set_index('datetime_y')

In [8]:
resultQ2_B = result_Q2.set_index('datetime_y')

In [9]:
resultQ3_B = result_Q3.set_index('datetime_y')

In [10]:
resultQ4_B = result_Q4.set_index('datetime_y')

In [92]:
#result_allQs = pd.concat([resultQ1_B, resultQ2_B, resultQ3_B, resultQ4_B])

In [96]:
#result_allQs

,atemperatue,humidity,temperature,datetime_x,windSpeed,datetimelocal,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
datetime_y,,,,,,,,,,,,,,,
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:00:41,00:03:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:06:53,00:27:56,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:10,00:22:36,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:22,00:22:07,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:36,00:27:16,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:43:17,00:04:37,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:51:55,00:06:39,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:55:19,00:06:33,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:57:42,00:21:59,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:58:21,00:04:26,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member

In [97]:
#result_allQs.to_csv('result_allQs1.csv', index=False)

In [11]:
stations_2 = stations

In [12]:
stations_2['Start station number'] = stations_2['short_name'].astype(int)
#stations_2.rename(columns = {'short_name':'Start station number'}, inplace = True)

In [107]:
#stations_2['Start station number']= stations_2['Start station number'].astype(float)

In [13]:
stations_2

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk,Start station number
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"['CREDITCARD', 'KEY']",15,False,False,True,31000
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"['CREDITCARD', 'KEY']",11,False,False,True,31001
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"['CREDITCARD', 'KEY']",17,False,False,True,31002
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"['CREDITCARD', 'KEY']",11,False,False,True,31003
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"['CREDITCARD', 'KEY']",11,False,False,True,31004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"['CREDITCARD', 'KEY']",19,False,False,True,31824
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"['CREDITCARD', 'KEY']",19,False,False,True,31718
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"['CREDITCARD', 'KEY']",19,False,False,True,31825
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"['CREDITCARD', 'KEY']",19,False,False,True,31325
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"['CREDITCARD', 'KEY']",17,False,False,True,31127

In [14]:
stations_summary = stations_2[['Start station number', 'lat', 'lon']]

In [15]:
stations_summary=stations_summary.set_index('Start station number')

In [16]:
stations_summary

                            lat        lon
Start station number
31000                 38.858971 -77.053230
31001                 38.857250 -77.053320
31002                 38.856425 -77.049232
31003                 38.860170 -77.049593
31004                 38.857866 -77.059490
...                         ...        ...
31824                 38.836646 -76.993589
31718                 38.876227 -76.940981
31825                 38.857369 -76.977688
31325                 38.912614 -77.074323
31127                 38.898925 -77.048852

[579 rows x 2 columns]

In [17]:
stations_summary.rename(columns = {'lat':'latstart', 'lon':'lonstart'}, inplace = True)

In [18]:
resultQ1_C=resultQ1_B.merge(stations_summary, on='Start station number')

In [19]:
resultQ2_C=resultQ2_B.merge(stations_summary, on='Start station number')

In [20]:
resultQ3_C=resultQ3_B.merge(stations_summary, on='Start station number')

In [21]:
resultQ4_C=resultQ4_B.merge(stations_summary, on='Start station number')

In [22]:
stations_summary2 = stations_summary.reset_index()

In [23]:
stations_summary2.rename(columns = {'Start station number':'End station number', 'latstart':'latend', 'lonstart':'lonend'}, inplace = True)

In [24]:
stations_summary2

     End station number     latend     lonend
0                 31000  38.858971 -77.053230
1                 31001  38.857250 -77.053320
2                 31002  38.856425 -77.049232
3                 31003  38.860170 -77.049593
4                 31004  38.857866 -77.059490
..                  ...        ...        ...
574               31824  38.836646 -76.993589
575               31718  38.876227 -76.940981
576               31825  38.857369 -76.977688
577               31325  38.912614 -77.074323
578               31127  38.898925 -77.048852

[579 rows x 3 columns]

In [25]:
stations_summary2=stations_summary2.set_index('End station number')

In [26]:
stations_summary2

                       latend     lonend
End station number
31000               38.858971 -77.053230
31001               38.857250 -77.053320
31002               38.856425 -77.049232
31003               38.860170 -77.049593
31004               38.857866 -77.059490
...                       ...        ...
31824               38.836646 -76.993589
31718               38.876227 -76.940981
31825               38.857369 -76.977688
31325               38.912614 -77.074323
31127               38.898925 -77.048852

[579 rows x 2 columns]

In [27]:
resultQ1_D=resultQ1_C.merge(stations_summary2, on='End station number')

In [28]:
resultQ1_D.to_csv('resultQ1_D.csv', index=False)

In [29]:
resultQ2_D=resultQ2_C.merge(stations_summary2, on='End station number')

In [30]:
resultQ2_D.to_csv('resultQ2_D.csv', index=False)

In [31]:
resultQ3_D=resultQ3_C.merge(stations_summary2, on='End station number')

In [32]:
resultQ3_D.to_csv('resultQ3_D.csv', index=False)

In [33]:
resultQ4_D=resultQ4_C.merge(stations_summary2, on='End station number')

In [34]:
resultQ4_D.to_csv('resultQ4_D.csv', index=False)

In [127]:
#result_allQs['Start station number'] = result_allQs['Start station number'].astype(str)

MemoryError: